%h1 Listing theatres
%table
  %tr
    %th Name
    %th Address
  - @theatres.each do |theatre|
    %tr
      %td= h theatre.name
      %td= h theatre.address
      %td= link_to 'Show', theatre

%br/

