
%h1 Últimos comentarios
%table
  %tr
    %th Opinión
    %th Usuario
    %th Contenido
  - @comments.each do |comment|
    %tr
      %td= h comment.post.title
      %td= h comment.user.full_name
      %td= h comment.content
      %td= link_to 'Ver', comment

