
%h1 New showtime for #{@showtime.schedule.movie.title} at #{@showtime.schedule.theatre.name}
- semantic_form_for([:admin, @showtime]) do |f|
  = render 'form', {:f => f, :commit_label => 'Create'}
= link_to 'Back to Schedule', admin_showtimes_path

