#banner-cont {
	height:330px;
	margin:0 auto;
	background:#F1E9E3;
	position:relative;
	z-index:20;
	overflow:hidden;
	padding:15px 0 0 0;
}

#banner-cont .banner {
	overflow:hidden;
	padding:0 20px 0 30px;	
}

#banner-cont .nav {
	position:absolute;
	bottom:0;
	height:33px;
	width:100%;
	/* css gradients */
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDE3CB', endColorstr='#F3B178');*/ /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#D6B08E), to(#FBDABD)); /* for webkit browsers */
	background: -moz-linear-gradient(bottom,  #D6B08E,  #FBDABD); /* for firefox 3.6+ */	
}

#banner-cont .arrow {
	position:absolute;
	top:138px;
	width:63px;
	height:63px;
	z-index:50;
}

#banner-cont .arrow:hover {
	cursor:pointer;
}

#banner-cont .prev {
	left:-22px;
}

#banner-cont .next {
	background-position: left -63px;
	right:-22px;
}

#banner-cont .banner li {
	float:left !important;
	margin-right:9px;
}

#banner-cont li.img a {
	display:block;
	width:100%;
	height:100%;
	background:#12ff56;
	}

.banner li.img {
	height:271px;
	padding-top:52px;
}

#ie6 #banner-cont {
	text-align:left;
}


#ie6 #banner-cont {
	height:341px;
	width:841px !important;
}

#ie6 .banner {
	
}

#ie6 #banner-cont .banner {
	left:13px;
	bottom:-6px;
	padding:0;
}

#ie6 #banner-cont .arrow {
	visibility:hidden;
	display:none;
}

#ie6 #banner-cont .arrow {
	height:62px;
}