%head
  = formtastic_stylesheet_link_tag
%h1 Editing genre
- semantic_form_for([:admin, @genre]) do |f|
  = render 'form', {:f => f, :commit_label => 'Actualizar'}
= link_to 'Show', [:admin, @genre]
|
\#{link_to 'Back', admin_genres_path}

