%p
  ¡Hola #{@resource.email}!
%p Alguien solicitó cambiar tu contraseña y lo puedes hacer con el siguiente enlace: 
%p= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Si no lo solicitaste tú, simplemente ignora este email.
%p Tu contraseña no cambiará hasta que accedas al enlace superior y lo cambies. ¡Tranquilo!
