.comment
  .comment_author
    %h4
      = image_tag(comment.user.avatar.url(:thumb))
      = link_to(comment.user.full_name, comment.user.profile)
  .comment_content
    = summary_of(comment.content)
    = link_to('Más', comment)

