%li.movie
  .top
  .middle
    - link_to movie do 
      = image_tag movie.banner.url(:banner), :alt => movie.title, :title => movie.title, :size => "150x222"
    = link_to movie.title, movie
    .camote= number_to_percentage(movie.final_score, :precision => 0)
  .bottom  