- content_for :banner do
  #banner-cont.wrapper{:role => "banner"}
    .banner
      %ul= render :partial => "movie", :collection => @movies

    .nav
      %ul
        %li.current
          %a{:href=>"#"}Ahora mismo
        %li
          %a{:href=>"#"}Estrenos
        %li
          %a{:href=>"#"}Recomendados
      .arrows
        .prev
        .next

#content
  #opiniones
    - widget_tag "Opiniones Camoteras" do
      %form
        %label{:for => "temas"} Leer de
        %select{:id => "temas"}
          %option{:value=>1} Todos los temas
        %label{:for => "order"} Ordenar por
        %select{:id => "order"}
          %option{:value=>1} Todos los temas
      = render :partial => "post", :collection => @posts, :locals => {:last => @posts.size - 1 }
    


#sidebar
  .widget
    .top
    .middle
      %h3 Cartelera en Lima
      %ul.cartelera
        = render :partial => "scheduled_movie", :collection => @schedules, :locals => { :last => @schedules.size - 1}
    .bottom
.clear


.talking
  .top
  .middle
    %h3 Conversando
    %ul
      = render :partial => "comment", :collection => @comments
      .clear
  .bottom

