#banner-cont{:role => "banner"}
  .banner
    %ul= render :partial => "movie", :collection => @movies    
  
  .nav
    %ul
      %li
        %a{:href=>"#"}Ahora mismo
      %li
        %a{:href=>"#"}Ahora mismo
      %li
        %a{:href=>"#"}Ahora mismo
    .prev.arrow
    .next.arrow
#opiniones
#cartelera
#talking
