- content_for :banner do
  #banner-cont.wrapper{:role => "banner"}
    .banner
      %ul= render :partial => "movie", :collection => @movies

    .nav
      %ul
        %li
          %a{:href=>"#"}Ahora mismo
        %li
          %a{:href=>"#"}Estrenos
        %li
          %a{:href=>"#"}Recomendados
      .prev.arrow
      .next.arrow

#content
  #opiniones
    - widget_tag "Opiniones Camoteras" do
      %form
        %label{:for => "temas"} Leer de
        %select{:id => "temas"}
          %option{:value=>1} Todos los temas
        %label{:for => "order"} Ordenar por
        %select{:id => "order"}
          %option{:value=>1} Todos los temas
      = render :partial => "post", :collection => @posts, :locals => {:last => @posts.size - 1 }
    


#sidebar
  .widget
    .top
    .middle
      %h3 Cartelera en Lima
      %ul.cartelera
        %li
          %a.movie{:href=>"#", :title=>"Robin Hood"}
            %img{:width => "65", :height => "97", :title => "Robin Hood", :alt => "Robin Hood", :src => "images/prince-of-persia.jpg"}
          .desc
            %a.title{:href=>"#", :title=>"Robin Hood"} Robin Hood
            %p.tags
              %a.title{:href=>"#", :title=>"Action"} Action
            %a.reviews{:href=>"#", :title=>""} Rese単as
          %p.rating 80%
          .clear
        %li
          %a.movie{:href=>"#", :title=>"Robin Hood"}
            %img{:width => "65", :height => "97", :title => "Robin Hood", :alt => "Robin Hood", :src => "images/prince-of-persia.jpg"}
          .desc
            %a.title{:href=>"#", :title=>"Robin Hood"} Robin Hood
            %p.tags
              %a.title{:href=>"#", :title=>"Action"} Action
            %a.reviews{:href=>"#", :title=>""} Rese単as
          %p.rating 80%
          .clear
        %li
          %a.movie{:href=>"#", :title=>"Robin Hood"}
            %img{:width => "65", :height => "97", :title => "Robin Hood", :alt => "Robin Hood", :src => "images/prince-of-persia.jpg"}
          .desc
            %a.title{:href=>"#", :title=>"Robin Hood"} Robin Hood
            %p.tags
              %a.title{:href=>"#", :title=>"Action"} Action
            %a.reviews{:href=>"#", :title=>""} Rese単as
          %p.rating 80%
          .clear
        %li.last
          %a.movie{:href=>"#", :title=>"Robin Hood"}
            %img{:width => "65", :height => "97", :title => "Robin Hood", :alt => "Robin Hood", :src => "images/prince-of-persia.jpg"}
          .desc
            %a.title{:href=>"#", :title=>"Robin Hood"} Robin Hood
            %p.tags
              %a.title{:href=>"#", :title=>"Action"} Action
            %a.reviews{:href=>"#", :title=>""} Rese単as
          %p.rating 80%
          .clear
    .bottom
.clear
.talking
  .top
  .middle
    %h3 Conversando
    %ul
      %li.odd
        .avatar
          %a{:href=>"#"}
            %img.avatar{:src=>"../images/avatar.jpg", :alt=>"Avatar", :title=>"Avatar"} DraRock
        .talk
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt, Lorem ipsum dolor sit amet, consectetur adipisicing elit
        %p.posted
          Respuesta a Lorem en Lorem
        .clear
      %li.even
        .avatar
          %a{:href=>"#"}
            %img.avatar{:src=>"../images/avatar.jpg", :alt=>"Avatar", :title=>"Avatar"} DraRock
        .talk
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt, Lorem ipsum dolor sit amet, consectetur adipisicing elit
        %p.posted
          Respuesta a Lorem en Lorem
        .clear
      %li.odd
        .avatar
          %a{:href=>"#"}
            %img.avatar{:src=>"../images/avatar.jpg", :alt=>"Avatar", :title=>"Avatar"} DraRock
        .talk
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt, Lorem ipsum dolor sit amet, consectetur adipisicing elit
        %p.posted
          Respuesta a Lorem en Lorem
        .clear
      %li.even
        .avatar
          %a{:href=>"#"}
            %img.avatar{:src=>"../images/avatar.jpg", :alt=>"Avatar", :title=>"Avatar"} DraRock
        .talk
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt, Lorem ipsum dolor sit amet, consectetur adipisicing elit
        %p.posted
          Respuesta a Lorem en Lorem
        .clear
      .clear
  .bottom

