
%h1 Editando película
- semantic_form_for([:admin, @movie],:html => { :multipart => true }) do |f|
  = render 'form', {:f => f, :commit_label => 'Actualizar'}
= link_to 'Ver', [:admin, @movie]
|
\#{link_to 'Regresar', admin_movies_path}

