
%h1 Edit theatre for #{@theatre.movie_chain.name}
- semantic_form_for([:admin, @theatre]) do |f|
  = render 'form', {:f => f, :commit_label => 'Update'}
= link_to "Back to #{@theatre.movie_chain.name} ", [:admin, @theatre.movie_chain]

