
%h1 Editando categoría
- semantic_form_for([:admin, @category]) do |f|
  = render 'form', {:f => f, :commit_label => 'Actualizar'}
= link_to 'Ver', [:admin, @category]
|
\#{link_to 'Regresar', admin_categories_path}

