%head
  = formtastic_stylesheet_link_tag
%h1 Editing schedule
- semantic_form_for([:admin, @schedule]) do |f|
  = render 'form', {:f => f, :commit_label => 'Update'}
= link_to 'Show', [:admin, @schedule]
|
\#{link_to 'Back', admin_schedules_path}

