
%h1 Editando persona
- semantic_form_for([:admin, @person], :html => {:multipart => :true}) do |f|
  = render 'form', {:f => f, :commit_label => 'Actualizar'}
= link_to 'Ver', @person
|
\#{link_to 'Regresar', admin_people_path}

