
%h1 Nueva institución
- semantic_form_for [:admin, @award_institution], :html => { :multipart => true } do |f|
  = render 'form', {:f => f, :commit_label => 'Crear'}
= link_to 'Regresar', admin_award_institutions_path

