%h1 Editando blog
- semantic_form_for [:admin, @blog], :html => { :multipart => true } do |f|
  = render 'form', {:f => f, :commit_label => 'Actualizar'}
= link_to 'Ver', [:admin, @blog]
|
\#{link_to 'Regresar', admin_blogs_path}

