
%h1 Editando premio
- semantic_form_for([:admin, @award]) do |f|
  = render 'form', {:f => f, :commit_label => 'Actualizar'}
= link_to 'Ver', [:admin, @award]
|
\#{link_to 'Regresar', admin_awards_path}

